body{
	color: #616161;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.navbar .brand{
	font-size: 20px;
	font-weight: 600;

}

.container{
	padding: 1rem 5rem 1rem 5rem;
}

.menu-items{
/*	border: 1px solid grey;*/
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}